<h1>Pick Winner</h1>
<form  method="POST" action="/pick_winner">
  <textarea name="names_list" class="names-list" placeholder="names separated by commas"><%= @names %></textarea>
  <input type="submit" value="Finished!">
</form>

<% if @your_name %>
  <p>The Winner is: <%= @your_name %></p>
<% end %>
